header {
  position: relative;
  height: 11.73333vw;
  border-bottom: 1px solid #eee;
  background: #fff;
  display: flex;
  align-items: center;
}
header.styleRed {
  border-bottom: 1px solid #fd5050;
  background-color: #fd5050;
  color: #fff;
}
header .cont {
  flex: 1;
  text-align: center;
  line-height: 11.73333vw;
  font-size: 4.53333vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .cont.hackLeft {
  margin-left: 11.73333vw;
}
header .cont h1 {
  font-weight: normal;
}
header.styleRed .iconRgt {
  color: inherit;
  flex: 0 0 11.73333vw;
  height: 11vw;
  line-height: 11.73333vw;
  color: #a8a8a8;
  display: flex;
  justify-content: flex-end;
}
header .iconRgt i {
  font-size: 7vw;
  margin-right: 3.333333vw;
  color: #fff;
}
header .searchBlock {
  position: absolute;
  width: 100%;
  height: 1333.2vw;
  background: rgba(0, 0, 0, 0.66);
  top: 12vw;
  z-index: 11;
  /*隐藏搜索框*/
  display: none;
}
header .inputBlock {
  padding: 6.6666vw 3.3333vw;
  position: relative;
  background: #fff;
}
header .inputBlock input {
  background: #f4f4f4;
    border: 0;
    height: 9.86667vw;
    line-height: 9.86667vw;
    padding-left: 3.33333vw;
    font-size: 4vw;
    border-radius: 0.66667vw;
    width: calc(100% - 3.33333vw);
    color: #333;
}
header .inputBlock .close.hide {
  display: none;
}
header .inputBlock .close {
  position: absolute;
  display: block;
  width: 4.26667vw;
  height: 4.26667vw;
  background: #c1c1c1;
  right: 6.66667vw;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  border-radius: 100%;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
}
header .hot {
  padding: 6.66667vw 3.33333vw;
  font-size: 0;
  background: #fff;
}
header .hot p{
  font-size: 4vw;
  margin-bottom: 1.33333vw;
  color: #333;
}
header .hot .key {
  font-size: 4.26667vw;
  color: #777;
  line-height: 8vw;
  display: inline-block;
  margin-right: 4.8vw;
}

.searchLinks .items {
  height: 10.66667vw;
    line-height: 10.66667vw;
    padding: 0 3.33333vw;
    border-bottom: 1px solid #eee;
    position: relative;
    font-size: 3.46667vw;
    color: #666;
    background: #fff;
}
.dfac {
  display: flex;
  align-items: center;
}
.searchLinks .iconfont {
  font-size: 7vw;
  margin-right: 1.86667vw;
  color: red;
}
.searchLinks .items::after {
  content: ">";
  font-family: "iconfont";
  font-size: 5.86667vw;
  position: absolute;
  right: 3.33333vw;
  color: #c1c1c1;
}

.categoryContent {
  position: relative;
  height: 100%;
}
.giftCategoryl {
  width: 19.2vw;
  background: #f4f4f4;
  position: absolute;
  /*height: 1333.2vw;*/
  text-align: center;
}
.giftCategoryl .active {
  position: relative;
  color: #fd5050;
  background: #fff;
}
.giftCategoryl span {
  display: block;
  line-height: 12vw;
  font-size: 4vw;
  color: #666;
}
.giftCategoryr {
  display: flex;
  padding: 0 0 14.66667vw 19.2vw;
  flex-wrap: wrap;
  align-items: center;
}
.giftCategoryr .item {
  margin: 6.66667vw 5.33333vw 0;
  flex: 0 0 calc(33.3% - 10.66667vw);
  position: relative;
}
.giftCategoryr .itemImg {
  width: 100%;
  height: 16.26667vw;
  border-radius: 1.33333vw;
  display: block;
}
.giftCategoryr .name {
  text-align: center;
  line-height: 1;
  margin-top: 2.66667vw;
  display: block;
  font-size: 3.2vw;
  color: #737373;
}
.giftCategoryr .name::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
